<main class="py-5">

    <div class="container">
        <section id="who-are-we">
            <h5>Who Are We</h5>
            <h1>Assisting individuals <br>locating the appropriate<br> real estate.</h1>
        </section>
        <section id="latest-properties">
            <br>
            <h6>Latest Listed Properties</h6>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
            
                <div class="col-md-4">
                    <div class="card mb-4" style="border-radius: 20px;">
                        <div class="card-body" >
                            <h5 class="card-title">Property 1</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius: 20px;">
                        <div class="card-body">
                            <h5 class="card-title" >Property 2</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <br>
                </div>
                
                <div class="row">
                    <div class="row g-0 " class=" ms-md-5">
                        
                        <div class="col-md-9">
                            
                            <div class="card h-100" style="border-radius: 100px;">
                                <img src="../../../assets/images/photo-1568902905125-42b8cc27c558 copy.jpg" class="card-img-top" style="width: 100%; height: 500px; border-radius: 20px;" alt="Property 1">
                            </div>
                            
                        </div>
                        
                    
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-md-9 ms-md-0 "  > <!-- Added ms-md-2 class for left margin -->
                        <div class="card" style="height: 300px;" >
                            <img src="../../../assets/images/pool copy.jpg" class="card-img-top h-100" alt="Property 1">
                        </div>
                        
                        <br><br>

                        <div class="card" >
                            <img src="../../../assets/images/pool copy.jpg" class="card-img-top" alt="Property 1">
                        </div>
                    </div> 
                </div>
                        
            </div>
        </section>
    </div>
</main>

 


  

