.navbar {
    background: var(--grey);
    color: var(--secondry);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 100px; 
}

.navbar-nav {
    gap: 2rem;
}

.navbar-nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    border-radius: 20px 20px;
    cursor: pointer;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: white;
    background: #3A0CA3;
    padding-left: 15px;
    padding-right: 15px;
    transition: all 400ms;
}

.btn1 {
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background: rgb(254, 254, 254);
    color: #3A0CA3;
    border: 1px solid  rgb(243, 241, 241);
    border-radius: 4px;
    transition: all 300ms ease-in; 
    margin-right: 15px;
}

.btn1:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #3A0CA3;
    box-shadow: 1px 1px 8px rgba(98, 74, 163, 0.2);
}

.button{
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background: #3A0CA3;
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #3A0CA3;
    color: white;
    box-shadow: 1px 1px 8px rgba(98, 74, 163, 0.2); /* Corrected box-shadow property */
}