.header{
color: #4361EE
}

.firstimg{
position: relative;
}
.paragraph{
position: absolute;
bottom: 40px;
left: 20px;
color: aliceblue;
}
.paragraphtwo{
position: absolute; 
 bottom: 20px;
left: 20px;
color: aliceblue; 
}

li{
    list-style-type: none;
}
.shadow {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* x-offset y-offset blur color */
}
.limit{
    height: 350px;
}

.container img {
    cursor: pointer;
}