<main class="container">
  <section class="row g-4">

    <div class="my-3 p-2 ">
      <h5 class="header fs-5">AREAS ACROSS THE TOWN</h5>
      <li class="my-2 fw-bold fs-2">Neighborhood Properties</li>
    </div>
  
    <div class="col-lg-4 col-md-5 col-sm-6">
      <figure class="  firstimg shadow">
        <img src="../../../assets/images/6.jpg" class="rounded-4  w-100" alt="homehouse">
        <li class=" fw-bold fs-2 paragraph">216</li>
        <li class="paragraphtwo fw-bold fs-6"> cairo,Eg</li>
      </figure>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="firstimg shadow">
        <img src="../../../assets/images/8.jpg" class="rounded-4 w-100" alt="homehouse">
        <li class=" fw-bold fs-2 paragraph">216</li>
        <li class="paragraphtwo fw-bold fs-6"> cairo,Eg</li>
      </div>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-6">
      <div class="firstimg">
        <img src="../../../assets/images/9.jpg" class="rounded-4  w-100" alt="homehouse">
        <li class=" fw-bold fs-2 paragraph">216</li>
        <li class="paragraphtwo fw-bold fs-6"> cairo,Eg</li>
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-6">
      <div class="firstimg">
        <img src="../../../assets/images/1.jpg" class="rounded-4 limit w-100 h-25" alt="homehouse">
        <li class=" fw-bold fs-2 paragraph">216</li>
        <li class="paragraphtwo fw-bold fs-6"> cairo,Eg</li>
      </div>
    </div>

    <div class="col-lg-7 col-md-9 col-sm-6">
      <div class="firstimg">
        <img src="../../../assets/images/4.jpg" class="rounded-4 limit w-100" alt="...">
        <li class=" fw-bold fs-2 paragraph">216</li>
        <li class="paragraphtwo fw-bold fs-6"> cairo,Eg</li>
      </div>
    </div>

  </section>
</main>
  