
        <header class="landing-wrapper">
            <div class="container-fluid">
                <div class="row justify-content-center m-5 align-items-center d-flex ">
                    <div class="col-lg-5 col-md-8 col-sm-12 mb-2 mt-5">
                        <h1 >Discover <br/> Most <span style="color: #9477d8; font-weight:700; font-size: 3rem;">Home</span> You Love....!</h1>
                        <div class="landing-description flexColStart mt-3 font-weight:400">
                            <span>Find a variety of properties that suit you very easily</span>
                            <span>Forget all difficulties in finding a residence for you</span>
                        </div>
                        <div class="splide">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">
                                        <img class="img-fluid" src="assets/images/r1.png" alt="">
                                    </li>
                                    <li class="splide__slide">
                                        <img class="img-fluid" src="assets/images/r2.png" alt="">
                                    </li>
                                    <li class="splide__slide">
                                        <img class="img-fluid" src="assets/images/r3.png" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-12 container-custom">
                        <h2 class="mb-4" style="color: #3A0CA3;">For Rent</h2>
                        <hr>
                        <form>
                            <!-- Location Input -->
                            <div class="mb-3">
                                <input type="text" class="form-control form-element" id="location" placeholder="Enter location">
                            </div>
        
                            <!-- Room Selection -->
                            <div class="mb-3">
                                <select class="form-select custom-select" id="roomSelect" aria-label="Number of Rooms">
                                    <option selected>Select Rooms</option>
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                    <option value="3">3 Rooms</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
        
                            <!-- Property Type Selection -->
                            <div class="mb-3">
                                <select class="form-select custom-select" id="propertyTypeSelect" aria-label="Property Type">
                                    <option selected>Select Property type...</option>
                                    <option value="apartment">Apartment</option>
                                    <option value="house">House</option>
                                    <option value="condo">Condo</option>
                                    <!-- Add more options as needed -->
                                </select>
                            </div>
        
                            <!-- Submit Button -->
                            <div class="text-center">
                                <button type="submit" class="button"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                  </svg> Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        
