<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <div class="left-col">
          <h3 class="title-h3">TESTIMONIALS</h3>
          <h2 class="title-h2 my-3">Look What Our Customers Say!</h2>
          <p>
            Discover Your Dream Home: Hear What Our Valued Tenants Have to Say
            About Their Rental Experience
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="slider-wrapper">
          <!-- <img class="blue-circle" src="/assets/images/Ellipse 15.svg" alt="bgImg"> -->
          <p-carousel
            [value]="testimonials"
            [numVisible]="1"
            [numScroll]="1"
            [circular]="true"
          >
            <ng-template let-testimonial pTemplate="item">
              <div class="cardBox py-4 px-5">
                <div class="carder-header">
                  <svg
                    width="60"
                    height="38"
                    viewBox="0 0 60 38"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.9606 0L0 37.2632H21.7241L30.1478 0H15.9606ZM45.8128 0L29.8522 37.2632H51.5764L60 0H45.8128Z"
                      fill="#FFC700"
                      fill-opacity="0.4"
                    />
                  </svg>
                  <p class="my-2">
                   {{testimonial.body}}
                  </p>
                </div>
                <hr />
                <div
                  class="card-footer d-flex align-items-center justify-content-between"
                >
                  <div class="img-wrap d-flex align-items-center">
                    <img
                      class="rounded-circle me-3"
                      src={{testimonial.img}}
                      alt="user-img"
                    />
                    <p>{{testimonial.name}}</p>
                  </div>
                  <div class="rating">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
